In [109]:
#Importing Libraries
import pandas as pd
import numpy as np
import csv

In [110]:
#Assigning data files to pandas dataframe
Jan = pd.read_csv('static/data/201801_capitalbikeshare_tripdata.csv')
Jul = pd.read_csv('static/data/201807-capitalbikeshare-tripdata.csv')

In [111]:
#Preview dataset of January Washington DC Capital Bikeshare
Jan.head(5)

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,552,2018-01-01 00:05:06,2018-01-01 00:14:18,31104,Adams Mill & Columbia Rd NW,31400,Georgia & New Hampshire Ave NW,W00886,Member
1,1282,2018-01-01 00:14:30,2018-01-01 00:35:53,31321,15th St & Constitution Ave NW,31321,15th St & Constitution Ave NW,W01435,Casual
2,1265,2018-01-01 00:14:53,2018-01-01 00:35:58,31321,15th St & Constitution Ave NW,31321,15th St & Constitution Ave NW,W21242,Casual
3,578,2018-01-01 00:15:31,2018-01-01 00:25:09,31406,14th & Upshur St NW,31103,16th & Harvard St NW,W21322,Casual
4,372,2018-01-01 00:18:02,2018-01-01 00:24:15,31618,4th & East Capitol St NE,31619,Lincoln Park / 13th & East Capitol St NE,W00119,Member

In [112]:
#Preview dataset of July Washington DC Capital Bikeshare
Jul.head(5)

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,267,2018-07-01 00:00:58,2018-07-01 00:05:26,31608,8th & Eye St SE / Barracks Row,31610,Eastern Market / 7th & North Carolina Ave SE,W23296,Member
1,530,2018-07-01 00:01:00,2018-07-01 00:09:50,31230,Metro Center / 12th & G St NW,31266,11th & M St NW,W20838,Member
2,3223,2018-07-01 00:01:07,2018-07-01 00:54:50,31620,5th & F St NW,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,W22733,Member
3,2153,2018-07-01 00:01:13,2018-07-01 00:37:06,31258,Lincoln Memorial,31208,M St & New Jersey Ave SE,W00196,Casual
4,3214,2018-07-01 00:01:13,2018-07-01 00:54:47,31620,5th & F St NW,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,W21070,Member

In [113]:
#Converting the duration to minutes
Jan['Duration'] = Jan['Duration']/60
Jul['Duration'] = Jul['Duration']/60
#Round Values
Jan['Duration'] = Jan['Duration'].round(decimals=2)
Jul['Duration'] = Jul['Duration'].round(decimals=2)

In [114]:
Jan.head(5)

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,9.20,2018-01-01 00:05:06,2018-01-01 00:14:18,31104,Adams Mill & Columbia Rd NW,31400,Georgia & New Hampshire Ave NW,W00886,Member
1,21.37,2018-01-01 00:14:30,2018-01-01 00:35:53,31321,15th St & Constitution Ave NW,31321,15th St & Constitution Ave NW,W01435,Casual
2,21.08,2018-01-01 00:14:53,2018-01-01 00:35:58,31321,15th St & Constitution Ave NW,31321,15th St & Constitution Ave NW,W21242,Casual
3,9.63,2018-01-01 00:15:31,2018-01-01 00:25:09,31406,14th & Upshur St NW,31103,16th & Harvard St NW,W21322,Casual
4,6.20,2018-01-01 00:18:02,2018-01-01 00:24:15,31618,4th & East Capitol St NE,31619,Lincoln Park / 13th & East Capitol St NE,W00119,Member

In [115]:
#Formatting start date
Jan['Start date'] = pd.to_datetime(Jan['Start date'])
Jul['Start date'] = pd.to_datetime(Jul['Start date'])

In [116]:
Jan.head(1)

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,9.2,2018-01-01 00:05:06,2018-01-01 00:14:18,31104,Adams Mill & Columbia Rd NW,31400,Georgia & New Hampshire Ave NW,W00886,Member

In [117]:
#Adding the Days of the week and time to the data frame
Jan['Day'] = Jan['Start date'].dt.weekday_name
Jan['Time'] = Jan['Start date'].dt.time
Jul['Day'] = Jul['Start date'].dt.weekday_name
Jul['Time'] = Jul['Start date'].dt.time

In [118]:
Jan.head(2)

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,Day,Time
0,9.20,2018-01-01 00:05:06,2018-01-01 00:14:18,31104,Adams Mill & Columbia Rd NW,31400,Georgia & New Hampshire Ave NW,W00886,Member,Monday,00:05:06
1,21.37,2018-01-01 00:14:30,2018-01-01 00:35:53,31321,15th St & Constitution Ave NW,31321,15th St & Constitution Ave NW,W01435,Casual,Monday,00:14:30

In [119]:
Jan.head(5)

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,Day,Time
0,9.20,2018-01-01 00:05:06,2018-01-01 00:14:18,31104,Adams Mill & Columbia Rd NW,31400,Georgia & New Hampshire Ave NW,W00886,Member,Monday,00:05:06
1,21.37,2018-01-01 00:14:30,2018-01-01 00:35:53,31321,15th St & Constitution Ave NW,31321,15th St & Constitution Ave NW,W01435,Casual,Monday,00:14:30
2,21.08,2018-01-01 00:14:53,2018-01-01 00:35:58,31321,15th St & Constitution Ave NW,31321,15th St & Constitution Ave NW,W21242,Casual,Monday,00:14:53
3,9.63,2018-01-01 00:15:31,2018-01-01 00:25:09,31406,14th & Upshur St NW,31103,16th & Harvard St NW,W21322,Casual,Monday,00:15:31
4,6.20,2018-01-01 00:18:02,2018-01-01 00:24:15,31618,4th & East Capitol St NE,31619,Lincoln Park / 13th & East Capitol St NE,W00119,Member,Monday,00:18:02

In [120]:
#Dropping unecessary columns
Jan.drop(['Start date','End date','Bike number'], axis = 1, inplace = True)
Jul.drop(['Start date','End date','Bike number'], axis = 1, inplace = True)

In [121]:
Jan.head(5)

,Duration,Start station number,Start station,End station number,End station,Member type,Day,Time
0,9.20,31104,Adams Mill & Columbia Rd NW,31400,Georgia & New Hampshire Ave NW,Member,Monday,00:05:06
1,21.37,31321,15th St & Constitution Ave NW,31321,15th St & Constitution Ave NW,Casual,Monday,00:14:30
2,21.08,31321,15th St & Constitution Ave NW,31321,15th St & Constitution Ave NW,Casual,Monday,00:14:53
3,9.63,31406,14th & Upshur St NW,31103,16th & Harvard St NW,Casual,Monday,00:15:31
4,6.20,31618,4th & East Capitol St NE,31619,Lincoln Park / 13th & East Capitol St NE,Member,Monday,00:18:02

In [122]:
#output to csv
Jan.to_csv(r'static\data\clean_data\Jan_2018_DC_CaBi.csv', encoding = 'utf-8', index = False, columns = ['Duration', 'Start station number','Start station','End station number','End station','Member type','Day','Time'])
#output to csv
Jul.to_csv(r'static\data\clean_data\Jul_2018_DC_CaBi.csv', encoding = 'utf-8', index = False, columns = ['Duration', 'Start station number','Start station','End station number','End station','Member type','Day','Time'])